{% extends 'base.html' %}

{% load staticfiles %}

{% block 'styles' %}
    <style xmlns="http://www.w3.org/1999/html">
        #shell_show {
            background-color: black;
            color: greenyellow;
        }
        ul{
            list-style: none;
        }
    </style>
{% endblock %}

{% block 'page-title' %}
    远程 SSH
    <small>远程执行 SSH 服务器管理（本功能仅支持 Linux 操作系统主机）</small>
{% endblock %}

{% block 'path' %}
    <li>
        <i class="icon-angle-right"></i>
        <a href="{% url 'serviceMgr:server_shell' %}">远程 SSH</a>
    </li>
{% endblock %}

{% block 'container' %}
    <div class="portlet box green" style="border-top-style: solid;border-top-color: #77e588;border-top-width: 1px">
        <div class="portlet-body form">
            <!-- BEGIN FORM-->

            <form action="." class="form-horizontal" method="post">
                {% csrf_token %}
                <div class="row-fluid">

                    <div class="span6 ">

                        <div class="control-group">

                            <label class="control-label">主机IP</label>

                            <div class="controls">

{#                                <input type="text" class="m-wrap span12" placeholder="192.168.1.1" name="host_ip" value="10.45.1.6">#}
                                <select class="m-wrap span12" name="host_ip">
                                    {% for info in host_info %}
                                    <option value="{{ info.host_ip }}">{{ info.host_ip }}</option>
                                    {% endfor %}
                                </select>
                                <span class="help-block">请输入主机IP</span>

                            </div>

                        </div>
                    </div>
                    <div class="span6">
                        <div class="control-group">

                            <label class="control-label">主机端口</label>

                            <div class="controls">

                                <input type="text" class="m-wrap span12" placeholder="22" value="22" name="host_port">

                                <span class="help-block">请输入主机端口</span>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span6">
                        <div class="control-group">

                            <label class="control-label">用户名</label>

                            <div class="controls">

                                <input type="text" class="m-wrap span12" placeholder="用户名" name="user_code" value="root">

                                <span class="help-block">请输入用户名</span>

                            </div>

                        </div>
                    </div>
                    <div class="span6">
                        <div class="control-group">

                            <label class="control-label">密码</label>

                            <div class="controls">

                                <input type="password" class="m-wrap span12" placeholder="密码" name="password" value="root1234">

                                <span class="help-block">请输入密码</span>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span6">
                        <div class="control-group">

                            <label class="control-label">命令</label>

                            <div class="controls">

                                <input type="text" class="m-wrap span12" placeholder="命令" name="command">

                                <span class="help-block">请输入命令</span>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="form-actions">

                    <button type="submit" class="btn blue"><i class="icon-ok"></i> 提交</button>

                    <button type="button" class="btn">Cancel</button>

                </div>
            </form>

            <!-- END FORM-->

        </div>

    </div>
    <div id="shell_show">
        <ul>
            {% for line in result %}
                <li>{{ line | safe }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}